body {
    width: 100vw;
}

#map { 
    width: 99%;
    height: 400px;
    background-color: #ccc;
}

h1 {
    text-align: center;
}

#map::before{
    content: 'LOADING';
    font-size: 3em;
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 3em;
}

.leaflet-popup-content-wrapper {
    width: 100%;
}